@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello there and Welcome!</h1>
    <p>Created by <a href="https://www.facebook.com/Isshosama">Mr.Boombastic</a>.</p>
</div>
