@{
    ViewData["Title"] = "Lose yourself";
}
<h1>@ViewData["Title"]</h1>

<p>If u had, 1 shot or one opportunity; </p>
<p>to seize everything u ever wanted. in one moment..</p>
<div>Would u capture it?</div>
<s>or just let it slip</s>
<h4>YO</h4>
